h1{
    text-align: center;
    font-size: 20;
    color: darkgreen;
    font-family: "Monotype Corsiva";
}

table,tr, td{
    margin:auto;
    text-align: center;
    text-size-adjust: 14pt;
    font-family:"Arial";
    width:700px;
    border: solid green 1px;
    background-color: khaki;
    padding: 10px;
}

table{
    border: solid green 3px;
}

ul{
    margin: 10px;
    list-style-type: square;
    text-size-adjust: 14pt;
    text-align: left;
}

li{
    text-align: left;
}
ol{
    margin: 10px;
    list-style-type: none;
    text-align: left;
}

img{
    height: 100px;
    margin: 10px;
    position: relative;
}

a{
    color: #D2691E;
    text-decoration: underline;
}
a:hover{
    color: green;
    text-decoration: none;
}

div{
    margin:auto;
    width: 700px;
    border: dotted 4px #8B4513;
    background-color: khaki;

}

span{
    font-style: italic;
	font-weight: bold;
}

p{
    font-family: "Courier New";
    font-size: 12pt;
    color: green;
    text-align: justify;
    margin: 10px;
    line-height: 1.5;
}

#top
{
    text-align: center;
    font-size: 14pt;
    color: Maroon;
    text-decoration: underline;
    display: block;
}

#top:hover
{
    color:black;
    text-decoration: underline;
}

